*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
}
.fa-bars{
    color:#fff;
    font-size: 37px;
}

html{
    overflow-y: hidden;
}
header{
    position: absolute;
    width: 100%;    
    background:linear-gradient(to bottom, rgba(0,0,0,1) 0% ,rgba(0,0,0,0) 100%);
    padding: 34px 78px;
    z-index: 9999;
}
header nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 78px;
}
@media(max-width:767px){
    header img{
        width: 49px;
    }
}
header .navbar .fa-bars{
    display: none;
}

@media(max-width:767px){
    header .navbar .fa-bars{
        display: block;
    }
    
}



@media (max-width: 767px){
    header{
        padding: 20px;
    }
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;

}


.navbar .menu{
    transition: display ease 2s;
}

.navbar .menu.open{
    display: block;
    
}

@media(max-width:767px){

    

    .navbar ul{
        display: block;
        position: absolute;
        left: 0;
        right: 20px;
        background: #0000009e;
        font-size: 18px;
        border-radius: 18px;
        top: 76px;
        left: auto;
        /* margin-left: 238px; */
        padding: 30px 0px;
        text-align: left;
        display: none;
        /* background: transparent; */
        width: 121px;
    }
    }

    
     
 
 
.navbar li{
    margin: 18px;   
    
}
.navbar a{
    /* padding: 5px 26px; */
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 8px;
    /* margin: 0 20px; */
}
@media (min-width:768px) and (max-width:991px){
    .navbar a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        margin: 0px -18px;
    }

    /* i pad css */
    .hero-info{
            
        transform: scale(1.4) translateY(110px);

    }

    .hero-img{
        object-fit:cover;
    }

    header{
        padding: 20px 30px;
    }

    .navbar a{
        margin: 2px -18px;
    }
    
}


/* .fa-bars:nth-child(1){
    color:red;
} */


.navbar li:nth-last-child(1) a{
    padding-right: 0;
    
}
.navbar li a{
    transition: color ease 0.8s  ;
}
 
.navbar li:hover a{
    color: #f70142;
}

.navbar li.active a{
    border-bottom: 4px solid #f70142;
}

/* hero */

.hero img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
    /* height: 100vh; */
}

@media(max-width:767px){
    .hero img{
        height: 101vh;
        object-fit: cover;
    }
}


.hero-info{
    /* position: fixed; */
    position: absolute;
    
      left:79px;
      top: 0;
      bottom:0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 405px;
}

@media(max-width:767px){
    .hero-info{ 
        position: fixed;
        position: absolute;
        
          left:20px;
          top:110px;
          bottom:0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 405px;

    }

    .hero-info h1{
         line-height: 74px;
    color: white;
    border-radius: 15px;
    
    padding: 10px 17px;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 32px;
    } 
}
.hero-info h1{
    
  
    
    
    /* background: -webkit-linear-gradient( 50deg,  rgb(9, 48, 164),rgb(235, 0, 27),rgb(201, 8, 198));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    line-height: 74px;
    color: white;
    font-family: fantasy;
    font-size: 73px;
    font-weight: 500;
    margin-bottom: 32px;
}
.hero-info span{
    display: block;
    font-size: 38px;
    font-weight: 700;
    font-family: none;
}
.cta-btn{
    width: 180px;
    color: #fff;
    margin-top: -22px;
    background-color: #f70142;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 24px;
    text-align: center;
    transition: background-color ease-in 0.5s;
}
.cta-btn:hover{
  background-color: black;
}
.hero .swiper-pagination{
    bottom: 60px;
    left: auto;
    right: 70px;
    text-align: right;
}
@media (max-width:767px) {
    .hero .swiper-pagination{
        bottom: 35px;
       
        padding-left: 90px;
       
        text-align: left;
    }
}
.hero .swiper-pagination .swiper-pagination-bullet{
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
}
.hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border:2px solid #f70142;
}

.hero .swiper-slide::before{
    content: "";
    width:100%;
    height: 390px;
    position:absolute;
    bottom:0;
    left:0;
    background:linear-gradient(to top, rgba(0,0,0,1) 0%,rgb(0 0 0 / 3%) 100%);
} ;   
